@import "./colors";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

html,
body {
  min-height: 100%;
}

body {
  color: $black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
}

.header {
  background-color: $headerBg;
  margin-bottom: 10px;

  .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .grid-item {
      width: 20%;
      flex-basis: 50%;
      height: 60px !important;
      justify-content: center;
      align-content: center;
      align-items: center;

      &:nth-child(1) {
        border-right: 0px;
      }

      &:nth-child(2) {
        border-left: 0px;
        align-self: center;
      }

      select {
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
          linear-gradient(to bottom, $white 0%, #e5e5e5 100%);
        option {
          font-weight: normal;
        }
      }
      h1 {
        font-size: 21px;
        margin: 0px;
        padding: 10px;
        text-align: left;
      }

      form {
        padding: 10px;
        text-align: right;
      }
    }
  }
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.grid-item {
  height: 380px;
  flex-basis: 25%;
  -ms-flex: auto;
  box-sizing: border-box;
  border: 0.3px solid $darkGray;
}

.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.grid-item-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.grid-image-top .centered {
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 37.5%;
  left: 50%;
}

.item-category {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

.item-exclusive-sale {
  position: absolute;
  left: 10px;
  bottom: 45px;
  margin-bottom: 25px;
  padding-left: 0;
  transition-duration: 0.5s;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
}

.item-sale {
  padding: 5px;
  background-color: $orangeSale;
  color: $white;
}

.item-exclusive {
  padding: 5px;
  background-color: $greenExclusive;
  color: $white;
}

.item-title {
  position: absolute;
  left: 10px;
  bottom: 0;
  margin-bottom: 25px;
  padding-left: 0;
  transition-duration: 0.5s;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
}

.item-price {
  position: absolute;
  bottom: 0;
  right: 10px;
  margin-bottom: 25px;
  padding-left: 0;
  transition-duration: 0.5s;
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
}

@media (max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media (max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media (max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media (max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}
